@import url(style/header.css);
@import url(style/section1.css);
@import url(style/section2.css);

:root {
    --fonte-principal: "Source Sans 3", sans-serif;
    --fonte-secundaria: "Poppins", sans-serif;
    --branco-principal: #FFFFFF;
    --branco-secundario:rgba(255, 255, 255, 0.507);
    --preto-principal:#000000;
    
    --preto-secundario:#161717;
    --dourado-principal: #A56429;
}

.btn-principal {
    width: 250px;
    height: 60px;
    border-radius: 7px;
    background-color: var(--dourado-principal);
    border: none;
     
    
    
    
}
.btn-principal a {
    text-decoration: none;
    color: var(--branco-principal);
    font-family: var(--fonte-secundaria);
    font-weight: 700;
    font-size: 14px !important;

}

