
/* estilizacao section 1 */
.section1-penal {
  
  background-image: url(../assets/imagem-mobile.png);
  background-size:contain ;
  background-repeat: no-repeat;
  position: relative;
  height: 45vh;
  
}
.titulo__conteudo-penal {
  font-family: var(--preto-principal);
  font-weight: 600;
  font-size: 25px;
  color: var(--preto-principal);
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.conteudo-penal {
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-bottom: 50px;
  /* margin-top: 150px; */
}
.contain__conteudo-penal {
  width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--cinza);
}
.paragrafo__conteudo-penal {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 40px;
  font-family: var(--preto-principal);
  font-weight: 500;
  font-size: 20px;
  color: var(--preto-principal);
}
.btn-diferencial-penal {
  margin-top: 50px;
  margin-bottom: 50px;
}


/* estilizacao section-> outras areas */
.section-outras-areas {
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  
}
.contain-outras-areas {
  width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--cinza);
  padding-bottom: 30px;
}
.listas-outras-areas {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 0;
}
.itens-outras-areas {
  display: flex;
  width: 293px;
  height: 54px;
  border-radius: 7px;
  border: solid 2px var(--dourado-principal);
  align-items: center;
  gap: 30px;
}
.listas-outras-areas :hover {
  
  color: #000000;
}
.itens-outras-areas img {
  margin-left: 20px;
}
.links-outras-areas {
  font-size: var(--fonte-principal);
  font-size: 16px;
  font-weight: 600;
  color: var(--preto-principal);

}

/* formulario */
.formulario {
  display: none;
}



/* media para desktop */

@media (min-width:600px) {
.links-banner-diferencial {
    color: rgb(253, 253, 253);
}
.formulario {
  display: flex;
}
.section1-penal {
  height: 70vh;
  background-image: url(../assets/direito-penal-imagem.png);
  background-size:cover ;
  background-repeat: no-repeat;
  position: relative;
}

.banner-penal {
  
  position: absolute;
  top: 20px;
  background-color: var(--preto-principal);
  width: 100%;
  height: 140px;
  text-align: center;
  margin: 0;
  padding: 0;
  display: inline;
 
}  
.conteudo-penal {
  margin-top: 100px;
}

/* sectio outras areas  */
.section-outras-areas {
  display: flex;
  flex-direction: row;
  gap: 100px !important;
}
.contain-outras-areas {
  height: 470px;
  width: 452px;
  border-radius: 16px;
}

/* estilizacao formulario */
.form-container {
  width: 400px;
  height: 470px;
  background: var(--cinza);
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  
  align-items: center;
  justify-content: center;
  
  
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #000000;
  font-weight: 600;
  font-size: 16px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #000000;
  font-family: inherit;
  background-color: transparent;
  border: 2px solid var(--dourado-principal);
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #000000;
  height: 96px;
  border: 2px solid var(--dourado-principal);;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: var(--dourado-principal);
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: var(--dourado-principal);
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #000000;
  font-weight: 600;
  width: 40%;
  background: var(--cinza);
  border: 2px solid var(--dourado-principal);
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  
  border-color: #080808;
}


.paragrafo__conteudo-penal {
  margin: 0 100px;
}

.contain__conteudo-penal {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin-top: 20px;
}
}


/* ajuster do nav para telas grandes  */
@media (min-width:1500px) and (max-width:2000px) {
  .banner-penal {
    height: 180px;
  }
}